<!-- Footer section -->
<footer class="footer-section">
  <div class="container">
    <p class="copyright">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy; 2019<script>document.write(new Date().getFullYear());</script> All rights reserved | Powered by Arij
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
  </div>
</footer>
<!-- Footer section end -->