<app-navbar></app-navbar>
<!-- Page -->
<div class="page-area contact-page">
    <div class="container spad">
        <div class="col-md-12" class="text-center"  style="color: #d9534f">
            <i class="fa fa-minus-circle" style="font-size: 12em;" aria-hidden="true"></i>
            <h2 class="contact-title">Access denied</h2>
        </div>
    </div>
</div> 
<!-- Page end -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>