<!-- Header section -->
<header class="header-section header-normal">
  <div class="container-fluid">
    <!-- logo -->
    <div class="site-logo">
      <img src="../../assets/user/img/logo.png" alt="logo">
    </div>
    <!-- responsive -->
    <div class="nav-switch">
      <i class="fa fa-bars"></i>
    </div>
    <div class="header-right">
      <a href="/cart" class="card-bag"><img src="../../assets/user/img/icons/bag.png" alt=""><span> {{this.cartService.nbrArticleInCart}} </span></a>
    </div>
    <!-- site menu -->
    <ul class="main-menu">
      <li><a [class.active]="this.router.url == '/'" href="/">Home</a></li>
      <li><a [class.active]="this.router.url == '/shop'" href="/shop">Shop</a></li>
      <li *ngIf="!auth.isAuthenticated()"><a [class.active]="this.router.url == '/login'" href="/login">Login</a></li>
      <li *ngIf="!auth.isAuthenticated()"><a [class.active]="this.router.url == '/register'" href="/register">Register</a></li>
      <li *ngIf="!auth.isAuthenticated()"><a [class.active]="this.router.url == '/supplier-request'" href="/supplier-request">Supplier request</a></li>
      <li *ngIf="isProvider"><a [class.active]="this.router.url == '/product-request'" href="/product-request">Product request</a></li>
      <li *ngIf="auth.isAuthenticated()"><a href="javascript:void(0)" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</header>
<!-- Header section end -->