<notifier-container></notifier-container>
<app-navbar></app-navbar>
<!-- Page -->
<div class="page-area contact-page">
    <div class="container spad">
        <div class="text-center">
            <h4 class="contact-title">Register</h4>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="contact-form" name="registerform"  (submit)="onRequest()"  method="post">
                    <label for="username">username</label>
                    <input type="text" name="username" [(ngModel)]="username" required>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" [(ngModel)]="email" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" [(ngModel)]="password">
                    <label for="password_confirm">Password Again</label>
                    <input type="password" name="password_confirm" [(ngModel)]="password_confirm">

                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" [(ngModel)]="firstname">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" [(ngModel)]="lastname">
                    <label for="company">Company</label>
                    <input type="text" name="company" [(ngModel)]="company">
                    <label for="address">Address</label>
                    <input type="text" name="address" [(ngModel)]="address">
                    <label for="matnumber">Immatricule</label>
                    <input type="text" name="matnumber" [(ngModel)]="matnumber">
                    <label for="iban">IBAN</label>
                    <input type="text" name="iban" [(ngModel)]="iban">
                    <div class="text-center">
                        <input type="submit" name="wp-submit" id="wp-submit" class="site-btn" value="Register" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Page end -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>