<notifier-container></notifier-container>
<app-navbar></app-navbar>
<!-- Page -->
<div class="page-area contact-page">
    <div class="container spad">
        <div class="text-center">
            <h4 class="contact-title">Login</h4>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="contact-form" name="loginform" id="loginform" (submit)="onLogin()" method="post">
                    <label for="username">username</label>
                    <input type="text" [(ngModel)]="username" name="_username" required>
        
                    <label for="password">password</label>
                    <input type="password" [(ngModel)]="password" name="_password" required>
                    <div class="text-center">
                        <input id="wp-submit" type="submit" value="Login" name="wp-submit" class="site-btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Page end -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>