<!-- Container fluid  -->
<div *ngIf="data" class="container-fluid">
  <!-- Start Page Content -->
  <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-two">
                      <header>
                          <div class="avatar">
                            <img *ngIf="!imgURL && data.user.image" src="http://127.0.0.1:8000/images/profile/{{data.user.image}}" alt="{{data.user.username}}">
                            <img *ngIf="!imgURL && !data.user.image" src="../../../assets/admin/images/avatar/avatar.jpg" alt="{{data.user.username}}">
                            <img *ngIf="imgURL" src="{{imgURL}}" alt="{{data.user.username}}">
                            <form method="POST" (submit)="onUpdatePic()">
                                <label for="update-pic" class="update-pic">
                                    <i class="fa fa-camera" aria-hidden="true"></i> Update
                                </label>
                                <input type="file"
                                [(ngModel)]="Image" 
                                name="Image" 
                                accept="image/*" 
                                id="update-pic"
                                accept='image/*' 
                                (change)="handleFileInput($event.target.files)">
                                <div class="btn-group btn-group-justified"> 
                                    <div class="btn-group" role="group">
                                        <input *ngIf="imgURL" type="submit" value="OK" class="btn btn-xs btn-success" />
                                    </div>
                                    <div class="btn-group" role="group">
                                        <input *ngIf="imgURL" type="button" value="NO" class="btn btn-xs btn-danger" (click)="cancel_upload()" />
                                    </div>
                                </div>
                            </form> 
                          </div>
                      </header>

                      <h3> 
                        <span *ngIf="data.user.firstname"> {{data.user.firstname}} </span> 
                        <span *ngIf="data.user.lastname"> {{data.user.lastname}} </span> 
                        <span *ngIf="!data.user.lastname && !data.user.firstname"> {{data.user.username}} </span> 
                      </h3>
                      <div *ngIf="data.user.company" class="desc">
                          {{data.user.company}} 
                      </div>
                      <div class="contacts">
                          <a class="m-r-30" style="width: min-content;" href="mailto:{{data.user.email}}"><i class="fa fa-envelope"></i> {{data.user.email}} </a>
                          <a class="m-r-30" style="width: min-content;" ><i class="fa fa-user"></i> {{data.user.username}} </a>
                          <a class="m-r-30" style="width: min-content;" href="javascript:void()" (click)="blockUser(data.user.id)" *ngIf="data.user.is_active == true && data.user.id != currentUserId"><i class="fa ti-close"></i> Block User </a>
                          <a class="m-r-30" style="width: min-content;" href="javascript:void()" (click)="activateUser(data.user.id)" *ngIf="data.user.is_active == false && data.user.id != currentUserId"><i class="fa ti-check"></i> Activate User </a>
                          <div class="clear"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-12">
          <div class="card">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs profile-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
                  <li *ngIf="data.products.length" class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home" role="tab">Products</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="profile" role="tabpanel">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                  <br>
                                  <p class="text-muted">
                                    <span *ngIf="data.user.firstname"> {{data.user.firstname}} </span> 
                                    <span *ngIf="data.user.lastname"> {{data.user.lastname}} </span>
                                  </p>
                              </div>
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Username</strong>
                                  <br>
                                  <p class="text-muted"> {{data.user.username}} </p>
                              </div>
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                  <br>
                                  <p class="text-muted">{{data.user.email}}</p>
                              </div>
                              <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                  <br>
                                  <p class="text-muted">{{data.user.address}}</p>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Birthdate</strong>
                                <br>
                                <p *ngIf="data.user.birthdate" class="text-muted">{{birthdate}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Is active</strong>
                                <br>
                                <p class="text-muted"> {{data.user.is_active}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Created</strong>
                                <br>
                                <p class="text-muted"> {{date[data.user.id]}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Roles</strong>
                                <br>
                                <p class="text-muted">{{arrayRoles[data.user.id]}}</p>
                            </div>
                          </div>
                          <hr>
                          <div *ngIf="isProvider" class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Company</strong>
                                <br>
                                <p class="text-muted">{{data.user.company}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>N° immatricule entreprise</strong>
                                <br>
                                <p class="text-muted"> {{data.user.mat_number}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>IBAN</strong>
                                <br>
                                <p class="text-muted">{{data.user.iban}}</p>
                            </div>
                          </div>
                      </div>
                  </div>
                  <!--second tab-->
                  <div *ngIf="data.products.length" class="tab-pane" id="home" role="tabpanel">
                      <div class="card-body">
                          <div *ngFor="let product of data.products" class="profiletimeline">
                              <div class="sl-item">
                                  <div class="sl-left"> <img src="http://127.0.0.1:8000/images/product/{{product.image}}" alt="user" class="img-circle" /> </div>
                                  <div class="sl-right">
                                      <div><a [routerLink]="['/product/',product.id]" class="link"> {{product.label}} </a> <span class="sl-date">{{ProductDate[product.id]}}</span>
                                          <p><a [routerLink]="['/admin/edit-product/',product.id]" class="link">Edit Product</a> </p>
                                          <div class="row">
                                              <div class="col-lg-3 col-md-6 col-xs-12 m-b-20"><img src="http://127.0.0.1:8000/images/product/{{product.image}}" class="img-responsive radius" /></div>
                                              <div class="col-lg-3 col-md-3 col-xs-12">
                                                    <div> 
                                                        <span> <b>In Shop : </b> {{product.is_active}} </span> <br>
                                                        <span> <b>Price : </b> {{product.price}} DT</span> <br>
                                                        <span *ngIf="product.sizes"> <b>Sizes : </b> {{product.sizes}} </span> <br>
                                                        <span *ngIf="product.colors"> <b>Colors : </b>{{product.colors}} </span> <br>
                                                        <span *ngIf="product.type"> <b>Type : </b> {{product.type}} </span> <br>
                                                        <span *ngIf="product.delivery_type"> <b>Delivery Type : </b>{{product.delivery_type}} </span> <br>
                                                        <span *ngIf="product.delivery_time"> <b>Delivery Time : </b>{{product.delivery_time}} </span> <br>
                                                        <span *ngIf="product.delivery_price"> <b>Delivery Price :</b> {{product.delivery_price}} DT</span> <br>
                                                    </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div *ngIf="product.desc">
                                                        {{product.desc}} 
                                                    </div>
                                              </div>
                                          </div>
                                          <div class="like-comm"> 
                                            <span class="m-r-20"><b>Selling Price : </b>{{product.selling_price}} DT  </span> 
                                            <span><b>Stock : </b>{{product.stock}}  </span> 
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <hr>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane" id="settings" role="tabpanel">
                      <div class="card-body">
                          <form class="form-horizontal form-material" method="POST" [formGroup]="updateForm" (submit)="onUpdate(data.user.id)">
                              <div class="form-group">
                                  <label class="col-md-12">First Name</label>
                                  <div class="col-md-12">
                                      <input type="text" name="firstname" formControlName="firstname" class="form-control form-control-line" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-md-12">Last Name</label>
                                  <div class="col-md-12">
                                      <input type="text" name="lastname" formControlName="lastname" class="form-control form-control-line" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-md-12">Username</label>
                                  <div class="col-md-12">
                                      <input type="text" name="username" formControlName="username" class="form-control form-control-line" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="example-email" class="col-md-12">Email</label>
                                  <div class="col-md-12">
                                      <input type="email" name="email" formControlName="email" class="form-control form-control-line" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-md-12">Address</label>
                                  <div class="col-md-12">
                                      <input type="text" name="address" formControlName="address" class="form-control form-control-line">
                                  </div>
                              </div>
                              <div  *ngIf="isProvider" class="form-group">
                                  <label class="col-md-12">Company</label>
                                  <div class="col-md-12">
                                      <input type="text" name="company" formControlName="company" class="form-control form-control-line">
                                  </div>
                              </div>
                              <div  *ngIf="isProvider" class="form-group">
                                  <label class="col-md-12">N° immatricule entreprise</label>
                                  <div class="col-md-12">
                                      <input type="text" name="mat_number" formControlName="mat_number" class="form-control form-control-line">
                                  </div>
                              </div>
                              <div  *ngIf="isProvider" class="form-group">
                                  <label class="col-md-12">IBAN</label>
                                  <div class="col-md-12">
                                      <input type="text" name="iban" formControlName="iban" class="form-control form-control-line">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-md-12">Birthdate</label>
                                  <div class="col-md-12">
                                      <input type="date" name="birthdate" formControlName="birthdate" class="form-control form-control-line">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <button  type="submit" class="btn btn-success">Update Profile</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
  </div>

  <!-- End PAge Content -->
</div>
<!-- End Container fluid  -->
<notifier-container></notifier-container>