<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<!-- Page -->
<div class="page-area cart-page spad">
  <div class="container">
    <div class="cart-table">
      <table>
        <thead>
          <tr>
            <th class="product-th">Product</th>
            <th style="padding: 0;"><!-- Option --></th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="total-th">Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rowcarts of rowscarts">
            <td class="product-col">
              <img src="http://127.0.0.1:8000/images/product/{{rowcarts.product.image}}" alt="">
              <div class="pc-title">
                <h4 (click)="detail(rowcarts)">{{rowcarts.product.label}}</h4>
              </div>
            </td>
            <td>
              <!-- <div class="product-content">
                <div class="mb-0 color-choose"><span>Colors:</span>
                  <div *ngFor=" let color of colors" class="cs-item">
                    <input (click)="getColorOrSize($event,color,rowcarts,'color')" [checked]="(color.id ===rowcarts.color?.id) ? true : false" id="{{color.id}}{{rowcarts.product.id}}-color" name="{{rowcarts.product.id}}cs-color" type="radio">
                    <label [style.background]="color.code" for="{{color.id}}{{rowcarts.product.id}}-color" [class]="'cs-'+color.name" class="cs-{color.name}"></label>
                  </div>
                </div>
                <div class="size-choose mb-0"><span>Size:</span>
                      <div *ngFor=" let size of sizes" class="sc-item">
                        <input type="radio" name="{{rowcarts.product.id}}sc-size" (click)="getColorOrSize($event,size,rowcarts,'size')"  id="{{size.id}}{{rowcarts.product.id}}-size" [checked]="(size.id ===rowcarts.size?.id) ? true : false">
                        <label for="{{size.id}}{{rowcarts.product.id}}-size">{{size.name}}</label>
                      </div>
                  </div>
                </div> -->
            </td>
            <td class="price-col">{{rowcarts.product.price}} DT</td>
            <td class="quy-col">
              <div class="quy-input">
                <span>Qty</span>
                <input type="number" (change)="onChange($event,rowcarts)" [value]=rowcarts.quantite>
              </div>
            </td>
            <td class="total-col">{{rowcarts.product.price*rowcarts.quantite}} DT</td>
            <td class="text-center">
              <button style="float: none;" (click)="delete($event,rowcarts)" type="button" class="close">&times;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row cart-buttons">
      <div class="col-lg-5 col-md-5">
        <div routerLink="/shop" class="site-btn btn-continue">Continue shooping</div>
      </div>
      <div class="col-lg-7 col-md-7 text-lg-right text-left">
        <div class="site-btn btn-clear" (click)='clearCart()'>Clear cart</div>
        <!-- <div class="site-btn btn-line btn-update">Update Cart</div> -->
      </div>
    </div>
  </div>
  <div class="card-warp">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- <div class="shipping-info">
            <h4>Shipping method</h4>
            <p>Select the one you want</p>
            <div class="shipping-chooes">
              <div class="sc-item">
                <input type="radio" name="sc" id="one">
                <label for="one">Next day delivery<span>$4.99</span></label>
              </div>
              <div class="sc-item">
                <input type="radio" name="sc" id="two">
                <label for="two">Standard delivery<span>$1.99</span></label>
              </div>
              <div class="sc-item">
                <input type="radio" name="sc" id="three">
                <label for="three">Personal Pickup<span>Free</span></label>
              </div>
            </div>
            <h4>Cupon code</h4>
            <p>Enter your cupone code</p>
            <div class="cupon-input">
              <input type="text">
              <button class="site-btn">Apply</button>
            </div>
          </div> -->
        </div>
        <div class="offset-lg-2 col-lg-6">
          <div class="cart-total-details">
            <h4>Cart total</h4>
            <p>Final Info</p>
            <ul class="cart-total-card">
              <!-- <li>Subtotal<span>{{totalCart}} DT</span></li>
              <li>Shipping<span>Free</span></li> -->
              <li class="total">Total<span>{{totalCart}} DT</span></li>
            </ul>
            <a *ngIf="auth.isAuthenticated()" class="site-btn btn-full" routerLink="/checkout">Proceed to checkout</a>
            <span *ngIf="!auth.isAuthenticated()" >Please Login to checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page end -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>