<div *ngIf="data" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-title">
              <h4>Products</h4>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-hover ">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Label</th>
                              <th>Price (DT)</th>
                              <th>Selling price (DT)</th>
                              <th>Stock</th>
                              <th>In Shop</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let element of data |paginate: { itemsPerPage: 5, currentPage: p, totalItems: data.length }; let i = index">
                              <th scope="row">{{i + 1}}</th>
                              <td>{{element.label}}</td>
                              <td>{{ element.price }}</td>
                              <td class="color-primary">{{ element.selling_price }}</td>
                              <td class="color-primary">{{ element.stock }}</td>
                              <td>
                                <span *ngIf="element.is_active == true" style="color: green"><i class="ti-check"></i></span>
                                <span *ngIf="element.is_active == false" style="color: red"><i class="ti-close"></i></span>
                              </td>
                              <td>
                                  <button [routerLink]="['/admin/edit-product/',element.id]" type="button" class="btn btn-sm m-l-5 btn-info btn-flat btn-addon"><i class="ti-pencil"></i></button>
                                  <button (click)="removeFromShop(element.id)" *ngIf="element.is_active == true" type="button" class="btn btn-sm m-l-5 btn-danger btn-flat btn-addon"><i class="ti-close"></i></button>
                                  <button (click)="addToShop(element.id)" *ngIf="element.is_active == false" type="button" class="btn btn-sm m-l-5 btn-success btn-flat btn-addon"><i class="ti-check"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <!-- /# card -->
    </div>
    <!-- /# column -->
    <pagination-controls  
        (pageChange)="p = $event"
        maxSize="9"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>
<notifier-container></notifier-container>