 <!-- Main wrapper  -->
 <div id="main-wrapper">
  <app-admin-navbar></app-admin-navbar>
  <app-admin-left-sidebar></app-admin-left-sidebar>
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>