<div *ngIf="data" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-title">
              <h4>Users</h4>
              <button type="button" class="btn btn-info btn-flat float-right">Add</button>  
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-hover ">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Fullname</th>
                              <th>Username</th>
                              <th>Email</th>
                              <th>Roles</th>
                              <th>Active</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let element of data |paginate: { itemsPerPage: 5, currentPage: p, totalItems: data.length }; let i = index">
                              <th scope="row">{{i + 1}}</th>
                              <td><span *ngIf="element.firstname">{{element.firstname}} </span> <span *ngIf="element.lastname">{{element.lastname}}</span> </td>
                              <td>{{ element.username }}</td>
                              <td>{{ element.email }}</td>
                              <td class="color-primary">{{ arrayRoles[element.id] }}</td>
                              <td>
                                <span *ngIf="element.is_active == true" style="color: green"><i class="ti-check"></i></span>
                                <span *ngIf="element.is_active == false" style="color: red"><i class="ti-close"></i></span>
                              </td>
                              <td>
                                  <button (click)="showUser(element.id, element.username)" type="button" class="btn btn-sm m-l-5 btn-info btn-flat btn-addon"><i class="ti-pencil"></i></button>
                                  <button (click)="blockUser(element.id)" *ngIf="element.is_active == true && element.id != currentUserId" type="button" class="btn btn-sm m-l-5 btn-danger btn-flat btn-addon"><i class="ti-close"></i></button>
                                  <button (click)="activateUser(element.id)" *ngIf="element.is_active == false && element.id != currentUserId" type="button" class="btn btn-sm m-l-5 btn-success btn-flat btn-addon"><i class="ti-check"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <!-- /# card -->
    </div>
    <!-- /# column -->
    <pagination-controls  
        (pageChange)="p = $event"
        maxSize="9"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>