<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<!-- Page -->
<div *ngIf="data" class="page-area categorie-page spad">
  <div class="container">
    <div class="categorie-filter-warp">
      <p>Showing {{data.length}} results</p>
      <div class="cf-right">
        <!-- <form action="#">
          <select>
            <option>Color</option>
          </select>
          <select>
            <option>Brand</option>
          </select>
          <select>
            <option>Sort by</option>
          </select>
        </form> -->
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p, totalItems: data.length}" class="col-lg-3">
        <div class="product-item">
          <figure [routerLink]="['/product/',item.id]">
            <img src="http://127.0.0.1:8000/images/product/{{item.image}}" alt="">
          </figure>
          <div class="product-info">
            <h6 [routerLink]="['/product/',item.id]"> {{item.label}} </h6>
            <p> {{item.selling_price}} DT</p>
            <a (click)="AddToCart(item)" class="site-btn btn-line">ADD TO CART</a>
          </div>
        </div>
      </div>
    </div>
    <div class="">
        <pagination-controls  
          (pageChange)="p = $event"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div> 
  </div>
</div>
<!-- Page -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>
<notifier-container></notifier-container>