<!-- Container fluid  -->
<div *ngIf="data" class="container-fluid">
  <!-- Start Page Content -->
  <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body product">
                  <div class="card-two">
                      <div class="row">
                        <div class="col-md-4">
                            <div class="avatar-product">
                                <img *ngIf="!imgURL && data.image" src="http://127.0.0.1:8000/images/product/{{data.image}}" alt="{{data.label}}">
                                <img *ngIf="!imgURL && !data.image" src="../../../assets/admin/images/background/user-info.jpg" alt="{{data.label}}">
                                <img *ngIf="imgURL" src="{{imgURL}}" alt="{{data.label}}">
                                <!-- <form method="POST" (submit)="onUpdatePic()">
                                    <label for="update-pic" class="update-pic">
                                        <i class="fa fa-camera" aria-hidden="true"></i> Update
                                    </label>
                                    <input type="file"
                                    [(ngModel)]="Image" 
                                    name="Image" 
                                    accept="image/*" 
                                    id="update-pic"
                                    accept='image/*' 
                                    (change)="handleFileInput($event.target.files)">
                                    <div class="btn-group btn-group-justified"> 
                                        <div class="btn-group" role="group">
                                            <input *ngIf="imgURL" type="submit" value="OK" class="btn btn-success" />
                                        </div>
                                        <div class="btn-group" role="group">
                                            <input *ngIf="imgURL" type="button" value="NO" class="btn btn-danger" (click)="cancel_upload()" />
                                        </div>
                                    </div>
                                </form>  -->
                              </div>
                        </div>
                        <div class="col-md-8">
                          <h3> 
                            <span> {{data.label}} </span> 
                          </h3>
                          <div class="desc">
                            {{data.desc}}
                          </div>
                          <div class="contacts">
                              <a style="width: auto;" href="javascript:void()" (click)="removeFromShop(data.id)" *ngIf="data.is_active == true"><i style="top: 15px;" class="fa ti-close"></i> Remove from shop </a>
                              <a style="width: auto;" href="javascript:void()" (click)="addToShop(data.id)" *ngIf="data.is_active == false"><i style="top: 15px;" class="fa ti-check"></i> Add to shop </a>
                              <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-12">
          <div class="card">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs profile-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Details</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="profile" role="tabpanel">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Label</strong>
                                  <br>
                                  <p class="text-muted">
                                    {{data.label}}
                                  </p>
                              </div>
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Type</strong>
                                  <br>
                                  <p class="text-muted"> {{data.type}} </p>
                              </div>
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Price</strong>
                                  <br>
                                  <p class="text-muted"> {{data.price}} DT</p>
                              </div>
                              <div class="col-md-3 col-xs-6 b-r"> <strong>Stock</strong>
                                  <br>
                                  <p class="text-muted"> {{data.stock}} </p>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Selling price</strong>
                                <br>
                                <p class="text-muted"> {{data.selling_price}} DT</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Sizes</strong>
                                <br>
                                <p class="text-muted"> {{data.sizes}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Colors</strong>
                                <br>
                                <p class="text-muted"> {{data.colors}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>provider</strong>
                                <br>
                                <p class="text-muted"> <a [routerLink]="['/admin/user-profil/',data.provider.id, data.provider.username]" class="link"> {{data.provider.username}} </a></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Delivery type</strong>
                                <br>
                                <p class="text-muted"> {{data.delivery_type}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Delivery time</strong>
                                <br>
                                <p class="text-muted"> {{data.delivery_time}} </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Delivery price</strong>
                                <br>
                                <p class="text-muted"> {{data.delivery_price}} DT</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Created</strong>
                                <br>
                                <p class="text-muted"> {{date[data.id]}} </p>
                            </div>
                          </div>
                      </div>
                  </div>
                  <!--second tab-->
                  <div class="tab-pane" id="settings" role="tabpanel">
                      <div class="card-body">
                          <form class="form-horizontal form-material" method="POST" [formGroup]="updateForm" (submit)="onUpdate(data.id)">
                              <div class="form-group">
                                  <label class="col-md-12">Selling price</label>
                                  <div class="col-md-12">
                                      <input type="text" name="selling_price" formControlName="selling_price" class="form-control form-control-line" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-md-12">Stock</label>
                                  <div class="col-md-12">
                                      <input type="text" name="stock" formControlName="stock" class="form-control form-control-line" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <button  type="submit" class="btn btn-success">Update Product</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
  </div>

  <!-- End PAge Content -->
</div>
<!-- End Container fluid  -->
<notifier-container></notifier-container>