<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row" *ngIf="ready">
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-users f-s-40 color-primary"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2> {{numbers.providers}} </h2>
                        <p class="m-b-0">Supplier</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2> {{numbers.orders}} </h2>
                        <p class="m-b-0">Order</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{numbers.products}}</h2>
                        <p class="m-b-0">Product</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{numbers.customers}}</h2>
                        <p class="m-b-0">Customer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="year-calendar"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8"  *ngIf="ready">
            <div class="card">
                <div class="card-title">
                    <h4>Recent Products requests </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Label</th>
                                    <th>Price (DT)</th>
                                    <th>Selling price (DT)</th>
                                    <th>Stock</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of productReq; let i = index">
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{element.label}}</td>
                                    <td>{{ element.price }}</td>
                                    <td class="color-primary">{{ element.selling_price }}</td>
                                    <td class="color-primary">{{ element.stock }}</td>
                                    <td>
                                        <button [routerLink]="['/admin/edit-product/',element.id]" type="button" class="btn btn-sm m-l-5 btn-info btn-flat btn-addon"><i class="ti-pencil"></i></button>
                                        <!-- <button (click)="removeFromShop(element.id)" *ngIf="element.is_active == true" type="button" class="btn btn-sm m-l-5 btn-danger btn-flat btn-addon"><i class="ti-close"></i></button>
                                        <button (click)="addToShop(element.id)" *ngIf="element.is_active == false" type="button" class="btn btn-sm m-l-5 btn-success btn-flat btn-addon"><i class="ti-check"></i></button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
<!-- End Container fluid  -->