<!-- Footer top section -->	
<section class="footer-top-section home-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-8 col-sm-12">
        <div class="footer-widget about-widget">
          <img src="../../assets/user/img/logo.png" class="footer-logo" alt="">
          <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam fringilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
          <div class="cards">
            <img src="../../assets/user/img/cards/5.png" alt="">
            <img src="../../assets/user/img/cards/4.png" alt="">
            <img src="../../assets/user/img/cards/3.png" alt="">
            <img src="../../assets/user/img/cards/2.png" alt="">
            <img src="../../assets/user/img/cards/1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="footer-widget">
          <h6 class="fw-title">usefull Links</h6>
          <ul>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Bloggers</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="footer-widget">
          <h6 class="fw-title">Sitemap</h6>
          <ul>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Bloggers</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="footer-widget">
          <h6 class="fw-title">Shipping & returns</h6>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Track Orders</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="footer-widget">
          <h6 class="fw-title">Contact</h6>
          <div class="text-box">
            <p>Your Company Ltd </p>
            <p>1481 Creekside Lane  Avila Beach, CA 93424, </p>
            <p>+53 345 7953 32453</p>
            <p>office@youremail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer top section end -->	