<notifier-container></notifier-container>
<app-navbar></app-navbar>
<!-- Page -->
<div class="page-area contact-page">
    <div class="container spad">
        <div class="text-center">
            <h4 class="contact-title">Add New Product</h4>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="contact-form" name="productform"  (submit)="onRequest()"  method="post">
                    <label for="label">Product name</label>
                    <input type="text" name="label" [(ngModel)]="label" required>
                    
                    <label for="desc">Product description</label>
                    <!-- <input type="text" name="desc" [(ngModel)]="desc" required> -->
                    <textarea name="desc" cols="30" rows="10"  [(ngModel)]="description"></textarea>
                    
                    <label for="update-pic" class="update-pic">
                      <i class="fa fa-camera" aria-hidden="true"></i> Upload product image 
                    </label>
                    <input type="file"
                      [(ngModel)]="Image" 
                      name="Image" 
                      accept="image/*" 
                      id="update-pic"
                      accept='image/*' 
                      (change)="handleFileInput($event.target.files)">
                    <br>
                    <label for="type">Product type</label>
                    <!-- <input type="text" name="type" [(ngModel)]="type" required> -->
                    <select  name="type" [(ngModel)]="type">
                        <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                    </select>
                    <label for="price">Product price</label>
                    <input type="text" name="price" [(ngModel)]="price" required>

                    <label for="sizes">Product sizes</label>
                    <input type="text" name="sizes" [(ngModel)]="sizes" required>

                    <label for="colors">Product colors</label>
                    <input type="text" name="colors" [(ngModel)]="colors" required>

                    <label for="delivery_type">Product delivery type</label>
                    <input type="text" name="delivery_type" [(ngModel)]="delivery_type" required>
                    
                    <label for="delivery_time">Product delivery time</label>
                    <input type="text" name="delivery_time" [(ngModel)]="delivery_time" required>
                    
                    <label for="delivery_price">Product delivery price</label>
                    <input type="text" name="delivery_price" [(ngModel)]="delivery_price" required>
                    
                    <label for="stock">Product stock</label>
                    <input type="text" name="stock" [(ngModel)]="stock" required>

                    <div class="text-center">
                        <input type="submit" name="wp-submit" id="wp-submit" class="site-btn" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Page end -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>