<app-navbar></app-navbar>
<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="../../assets/user/img/deco-exotique-tendance-2016.jpg">
  <div class="hero-slider owl-carousel">
    <div class="hs-item">
      <!-- <div class="hs-left"><img src="../../assets/user/img/slider-img.png" alt=""></div> -->
      <div class="hs-right">
        <div class="hs-content">
          <!-- <div class="price">from $19.90</div>
          <h2><span>2018</span> <br>summer collection</h2>
          <a href="" class="site-btn">Shop NOW!</a> -->
        </div>	
      </div>
    </div>
    <!-- <div class="hs-item">
      <div class="hs-left"><img src="../../assets/user/img/slider-img.png" alt=""></div>
      <div class="hs-right">
        <div class="hs-content">
          <div class="price">from $19.90</div>
          <h2><span>2018</span> <br>summer collection</h2>
          <a href="" class="site-btn">Shop NOW!</a>
        </div>	
      </div>
    </div> -->
  </div>
</section>
<!-- Hero section end -->
<!-- Intro section -->
<section *ngIf="newProducts.length" class="intro-section spad pb-0">
  <div class="section-title">
    <h2>new products</h2>
    <p>We recommend</p>
  </div>
  <div class="intro-slider">
    <ul class="slidee">
      <li *ngFor="let newProduct of newProducts">
        <div class="intro-item">
          <figure>
            <img src="http://127.0.0.1:8000/images/product/{{newProduct.image}}" alt="#" style="width: 414px; height: 471px; object-fit: none;">
          </figure>
          <div class="product-info">
            <h5>{{newProduct.label}}</h5>
            <p>{{newProduct.price}} DT</p>
            <a (click)="AddToCart(newProduct)" class="site-btn btn-line">ADD TO CART</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="scrollbar">
      <div class="handle">
        <div class="mousearea"></div>
      </div>
    </div>
  </div>
</section>
<!-- Intro section end -->

<!-- Featured section -->
<div class="featured-section spad">
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let item of newList">
        <div class="featured-item">
          <img src="http://127.0.0.1:8000/images/category/{{item.image}}" alt="" style="height: 400px;object-fit: cover;object-position: center;">
          <a href="#" [routerLink]="['/category/',item.id]" class="site-btn">see more</a>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="featured-item mb-0">
          <img src="../../assets/user/img/featured/featured-2.jpg" alt="">
          <a href="#" class="site-btn">see more</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Featured section end -->

<!-- Product section -->
<section *ngIf="data" class="product-section spad">
  <div class="container">
    <!-- <ul class="product-filter controls">
      <li class="control" data-filter=".new">New arrivals</li>
      <li class="control" data-filter="all">Recommended</li>
      <li class="control" data-filter=".best">Best sellers</li>
    </ul> -->
    <div class="row" id="product-filter">
      <div *ngFor="let item of data" class="mix col-lg-3 col-md-6 best">
        <div class="product-item">
          <figure>
            <img src="http://127.0.0.1:8000/images/product/{{item.image}}" alt="">
          </figure>
          <div class="product-info">
            <h6>{{item.label}}</h6>
            <p>{{item.price}} DT</p>
            <a (click)="AddToCart(item)" class="site-btn btn-line">ADD TO CART</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product section end -->

<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>