<notifier-container></notifier-container>
<app-navbar></app-navbar>
<!-- Page -->
<div class="page-area contact-page">
    <div class="container spad">
        <div class="text-center">
            <h4 class="contact-title">Register</h4>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="contact-form" name="registerform"  (submit)="onRegister()"  method="post">
                    <label for="username">username</label>
                    <input type="text" name="username" [(ngModel)]="username" required>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" [(ngModel)]="email" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" [(ngModel)]="password">
                    <label for="password_confirm">Password Again</label>
                    <input type="password" name="password_confirm" [(ngModel)]="password_confirm">
                    <div class="text-center">
                        <input type="submit" name="wp-submit" id="wp-submit" class="site-btn" value="Register" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Page end -->
<!-- <app-footer-top></app-footer-top> -->
<app-footer></app-footer>