<notifier-container></notifier-container>
<!-- Main wrapper  -->
<div id="main-wrapper">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>Login</h4>
                            <form name="loginform" id="loginform" (submit)="onLogin()" method="post">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" [(ngModel)]="username" name="_username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="password" name="_password" placeholder="Password" required>
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    <label class="pull-right">
                                            <a href="#">Forgotten Password?</a>
                                        </label>

                                </div> -->
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                                <!-- <div class="register-link m-t-15 text-center">
                                    <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Wrapper -->